.sp-block.sp-contact-form-7 {
    input:not([type="submit"]), textarea {
        width: 100%;
    }

    form>p{
        margin-bottom: 0;
    }

    .btn-center {
        input[type="submit"] {
            @apply mx-auto block;
        }
    }

    .btn-left {
        input[type="submit"] {
            @apply float-left block;
        }
    }

    .btn-right {
        input[type="submit"] {
            @apply float-right block;
        }
    }

    .btn-full-width {
        input[type="submit"] {
            @apply w-full;
        }
    }

    .ajax-loader {
        display: none !important;

        &.is-active {
            display: block !important;
        }
    }
}