/* Block Editor
/* ----------------------------------------------- */
 .block-editor {
    /* Make ACF field labels bold */
    .acf-fields>.acf-field>.acf-label label {
        font-weight: bold !important;
    }

    .acf-fields>.acf-field>.acf-input select {
        &:hover, &:focus, &:active {
            color: #1062fe;
        }
    }

    .acf-switch.-on {
        background: #1062fe;
    }

    .acf-label.acf-accordion-title i,
    .acf-label i {
        font-style: normal;
        min-width: 20px;
    }

    .acf-block-body {
        .acf-field-sp-responsive-select {
            .sp-responsive-select__variations {
                top: 20px !important;
                right: 20px !important;
            }
        }
    }

    /* Make reusable blocks full width */
    &-block-list__block.is-reusable {
        max-width: 100%;
    }

    /* Hide reusable block footer */
    &-block-list__block.is-reusable &-writing-flow__click-redirect {
        display: none;
    }
}

/* Full Width Templates
/* ----------------------------------------------- */
.post-type-wp_block,
.post-type-sp-template, 
.sp-template-page-full-width, 
.sp-template-post-full-width {
    .block-editor-writing-flow, .block-editor-block-list__block {
        max-width: 100% !important;
    }

    .block-editor-block-list__layout.is-root-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
